/* for small devices
@media (min-width: 576px) {
    .wrapper-large {
        display: none;
    }
}*/
/* for extra-large devices */
@media (min-width: 960px) {
   .small {
       display: none;
   }

 }

 @media (max-width: 960px) {
     .large {
         display: none;
     }

     .logo {
         font-size: 1rem;
     }
 }
