	<!-- <app-navbar></app-navbar> -->
  <!--Modal -->
  <div class="modal fade" id="Modal" role="dialog">
    <div class="modal-dialog">
     Modal content
     <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title modallabel">{{ 'HEADER.LOCATION.CITY' | translate }}</h4>
      </div>
      <!-- this is for body for dropdown to select city -->
      <div class="modal-body p-2">
       <select class="dropdown btn btn-light dropdown-toggle " [(ngModel)]="tempselected.a">
         <option *ngFor=" let city of cities" value={{city}}>{{city}}</option>
       </select>

       <br>


       <ul>
         <li>
          <button  id="_setImg" (click)="set('delhi')" data-dismiss="modal">
            <span >
             <img src="https://image.flaticon.com/icons/png/128/181/181427.png" class="maincities" alt="Delhi"/>
             <p >Delhi</p>
           </span>
         </button>
       </li>

       <li>
        <button id="_setImg"  (click)="set('Mumbai')" data-dismiss="modal">
         <span>
          <img src="https://image.flaticon.com/icons/png/128/444/444788.png" class="maincities" alt="Mumbai">
          <p>Mumbai</p>
        </span>
      </button>
    </li>

    <li> 
     <button id="_setImg"  (click)="set('Chandigarh')" data-dismiss="modal">
       <span>
         <img src="https://cdn.iconscout.com/public/images/icon/premium/png-256/chandigarh-openhand-monument-architecture-symbol-39a0c693561273cd-256x256.png" class="maincities" alt="Chandigarh">
         <p>Chandigarh</p>
       </span>
     </button>
   </li> 

 </ul>


 
</div>



<div class="modal-footer">
  <span>
    <button type="button" class="btn btn-default " data-dismiss="modal"  (click)="fav(tempselected)">{{ 'HEADER.LOCATION.CONTINUE' | translate }}</button>
    <button type="button" class="btn btn-dark " data-dismiss="modal">{{ 'HEADER.LOCATION.SKIP' | translate }}</button>
  </span>
</div>
</div>
</div>
</div>
<div class="sticky-top">
  <app-location [obj]="selected"></app-location>
  <app-navbar [userLocation]="selected.a"></app-navbar>
</div>
