.add-offer{
	padding-top: 10px;
	padding-right: 15px;
}
.add-offer-list{
	padding-top: 12px;
}
.add-offer-card{
   width:18rem;
}
.card-title{
	font-family: sans-serif,'Sree Krushnadevaraya','Suranna','Ramaraja',"Mukta Malar";
}