@media (min-width: 768px) {
	.user-sidebar {
		position: fixed;
		width: 270px;
		height: 100%;
	}

	.user-content {
		margin-left: 270px; 
	}

	.active {
		border: 1px solid #018b8b;
		/*padding-left: 10px;
		padding-right: 10px;*/
		padding-top: 5px;
		padding-bottom: 5px;
		width: 210px;
	}
}

.user-sidebar li {
	cursor: pointer;
}