<div class="user-sidebar border-right d-flex justify-content-center mt-2">
  <ul class="nav nav-pills flex-column ">
    <li class="text-center py-2" [ngClass]="{active:userList=='userdetails', inactive:userList!='userdetails'}" [routerLink]="['/user', 'userdetails']">
      Personal Information
    </li>
    <li class="text-center py-2" [ngClass]="{active:userList=='carrybag', inactive:userList!='carrybag'}" [routerLink]="['/user', 'carrybag']">
      Carry Bag
    </li>    
    <li class="text-center py-2" [ngClass]="{active:userList=='wishlist', inactive:userList!='wishlist'}" [routerLink]="['/user', 'wishlist']">
      Wish List
    </li>
    <li class="text-center py-2" [ngClass]="{active:userList=='subscriptionlist', inactive:userList!='subscriptionlist'}" [routerLink]="['/user', 'subscriptionlist']">
      Subscriptions
    </li>
    <li class="text-center py-2" [ngClass]="{active:userList=='add-offer', inactive:userList!='add-offer'}" *ngIf="role=='Vendor'||'vendor'" [routerLink]="['/user', 'add-offer']">
      Add Offers    
    </li>
    <li class="text-center py-2" [ngClass]="{active:userList=='be-a-seller', inactive:userList!='be-a-seller'}" *ngIf="role=='Customer'" [routerLink]="['/user', 'be-a-seller']">
      Be a Seller
    </li>
  </ul>
</div>
<div class="user-content">
  <div [ngSwitch]="userList">
    <div *ngSwitchCase="'userdetails'">
      <app-userdetails></app-userdetails>
    </div>    
    <div *ngSwitchCase="'carrybag'">
      <app-carrybag></app-carrybag>
    </div>
    <div *ngSwitchCase="'wishlist'">
      <app-wishlist></app-wishlist>
    </div>
    <div *ngSwitchCase="'subscriptionlist'">
      <app-subscription-list></app-subscription-list>
    </div>
    <div *ngSwitchCase="'add-offer'">
      <app-add-offer></app-add-offer>
    </div>
    <div *ngSwitchCase="'be-a-seller'">
      <app-be-a-seller (success)="changeSidebarVender($event)"></app-be-a-seller>
    </div>
  </div>
</div>