<!-- carousel -->
<div class="container-fluid">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div>
          <form id="search" class="form-inline my-2 my-lg-0 col-sm-3 col-md-4 col-lg-6">
            <!-- categories dropdown --> 
            <select name="category-selected" class="dropdown btn btn-light dropdown-toggle mr-0 " [(ngModel)]="category" >
                <option class="dropdown-item" selected>{{ 'HOMEPAGE.CATEGORIES.ALL' | translate }}</option>
                <option class="dropdown-item">{{ 'HOMEPAGE.CATEGORIES.SPORTS' | translate }}</option>
                <option class="dropdown-item">{{ 'HOMEPAGE.CATEGORIES.CLOTHES' | translate }}</option>
                <option class="dropdown-item">{{ 'HOMEPAGE.CATEGORIES.FOOD' | translate }}</option>
              </select>
            <!-- Search bar -->
            <input (keydown)="enterPressed($event)" id="input" list="suggestions" name="query" [(ngModel)]="query" class="form-control mr-0 search-box col-md-4 col-lg-8 col-sm-2" (keyup)="searchTerm$.next($event.target.value)" autocomplete="off" type="text"
            placeholder="{{ 'HOMEPAGE.PAGE.SEARCH' | translate }}" aria-label="Search">
            <!-- search button -->
            <!-- on click of button show values for category and field-->
             <button id="searchButton" (click)="redirectToSearch()" type="button" class="btn btn-light search-btn col-md-1 col-sm-1 col-lg-2"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <!-- carousel -->
        <div class="carousel-image carousel-item active">
          <img class="homepage-image d-block w-100" src="../../../../assets/images/carousel_1.jpg" alt="First slide">
        </div>
        <div class="carousel-image carousel-item">
          <img class="homepage-image d-block w-100" src="../../../../assets/images/carousel_2.jpeg" alt="Second slide">
        </div>
        <div class="carousel-image carousel-item">
          <img class="homepage-image d-block w-100" src="../../../../assets/images/carousel_3.jpg" alt="Third slide">
        </div>
        <div class="carousel-image carousel-item">
          <img class="homepage-image d-block w-100" src="../../../../assets/images/carousel_4.jpeg" alt="Forth slide">
        </div>
      </div>
      <!-- Page Navigation-->
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'HOMEPAGE.PAGE.PREV' | translate }}</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'HOMEPAGE.PAGE.NEXT' | translate }}</span>
      </a>
    </div>
  </div>
</div>

<!-- associating data list with the search query -->
<datalist id="suggestions">
  <div *ngIf="flag">
    <option *ngFor="let result of results| slice:0:9">
      {{result}}
    </option>
  </div>
</datalist>
